.header-wrapper{
    width: 800px;
    margin: 0 auto;
}
.main-wrapper{
    margin: 0 auto;
    border:2px solid brown;
    height: 500px;
    width: 500px;
    background: lightskyblue;
    position: relative;
}
.second-wrapper
{
    margin: 0 auto;
    border:2px solid brown;
    height: 500px;
    width: 500px;
    background: lightskyblue;
    position: relative;
}

.ant{
    height: 20px;
    width:20px;
    background:black;
    position: absolute;
    border-radius: 8px;
}

.ant:hover {
    cursor: pointer;
}