@font-face 
{
    font-family: '04b_19';
      src:  url('04b_19.ttf.woff') format('woff'),
      url('04b_19.ttf.svg#04b_19') format('svg'),
      url('04b_19.ttf.eot'),
      url('04b_19.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.main-wrapper
{
    height: 600px;
    width: 800px;
    margin: 0 auto;
}

.main-menu
{
    background-image: url("images/startscreen.png");
    cursor: pointer;
    width: 800px;
    height: 600px;
    display: none;
    position: relative;
    text-align: center;
}

/* -webkit-text-stroke: 2px black; */
.main-game
{
    display: none;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

.map
{
    height: 100px;
    width: 100px;
    background: #808080;
    float: left;
}

.car
{
    width: 87px;
    height: 42px;
    background:url("images/car.png");
    position: absolute;
    transform-origin: center;
}


.timer-wrapper
{
    width:80px;
    left: 10px;
    top:5px;
    position: absolute;
    background: #fca048;
    font-size: 17px;
    text-align: center;
    line-height: 25px;
    font-family: "04b_19";
}

.reset
{
    background: #ded895;
    font-family: '04b_19';
    position: absolute;
    height: 200px;
    width: 250px;
    color: #fca048;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    display: none;
    border-radius: 10px;
    left: 275px;
    top:200px;
    text-align: center;
    z-index: 5;
}
.opponents
{
    height: 100px;
    width: 81px;
    position: absolute;
}

.next
{
    display: none;
}

.restart
{
    width: 75px;
    padding:3px;
    margin-left: 20px;
    float: left;
    font-family: '04b_19';
    background: #fca048;
    -webkit-text-stroke: 1px black;
    font-size: 16px;
    color: white;
}

.next
{
    width: 95px;
    padding: 3px;
    font-family: '04b_19';
    margin-left: 35px;
    -webkit-text-stroke: 1px black;
    float: left;
    font-size: 16px;
    background: #fca048;
    color: white;
}

.display-message
{
    color: white;
    -webkit-text-stroke: 2px black;
}